<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nonye's Blog Api</title>
      </head> 
      <body>
        <header>
          <h2><a href="/login">Login</a> or <a href="/signup">signup</a> to create an article</h2>

        </header>
        <% if (user) { %>
          <h2>Welcome <%= user.firstname %> </h2>
          <h3>View all created <a href="/userarticles">blogs</a></h3>
          <% } else { %>
            <p></p>
        <% } %>

        <% contents.forEach(function(content) { %>
          <a href="article/<%= content.title %>" style="color:darkgreen; cursor: pointer;">
            <h1>TITLE: <%= content.title %></h1>
          </a>
          <h3><%= content.author %></h3>
          <span>published: <%= content.timestamp %></span>
          <h5>5mins read</h5>
          <h5>100 reads</h5>
          <h6><%= content.body %></h6>
          
          <% }); %>
      </body> 
</html>