<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nonye's Blog Api</title>
      </head> 
      <body>
        <header>
          <h2><a href="/login">Login</a> or <a href="/signup">signup</a> to create an article</h2>

        </header>
        <% if (user) { %>
          <h2>Welcome <%= user.firstName %> </h2>
          <!-- <h4>Here is your token: <%= token %></h4> -->
          <h3>View all created <a href="<%= user.email %>/articles">blogs</a></h3>
          <h3>Create an article <a href="articles/<%= user.email %>/create?secret_token=<%= token %>">Here</a></h3>
          <% } else { %>
            <p></p>
        <% } %>

        <% contents.forEach(function(content) { %>
          <a href="articles/article/<%= content.title %>" style="color:darkgreen; cursor: pointer;">
            <h1>TITLE: <%= content.title %></h1>
          </a>
          <h3><%= content.author %></h3>
          <span>published: <%= content.timestamp %></span>
          <h5><%= content.reading_time %> read.</h5>
          <h5><%= content.read_count %> views</h5>
          <h4><%= content.body %></h4>
          
          <% }); %>
      </body> 
</html>