<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User page </title>
      </head> 
      <body>
        <div>
          <h2>You can find all your articles here</h2>

          <% if (Object.keys(contents).length > 0 ) { %>
            <% contents.forEach(function(content) { %>
              <a href="articles/article/<%= content.title %>" style="color:darkgreen; cursor: pointer;">
                <h1>TITLE: <%= content.title %></h1>
              </a>
              <h3><%= content.author %></h3>
              <span>published: <%= content.timestamp %></span>
              <h5><%= content.reading_time %> min read.</h5>
              <h5><%= content.read_count %> views</h5>
              <h5 style="text-decoration: underline; "><%= content.description %></h5>
              <h4><%= content.body.split(' ').slice(0, 20).join(' ') %><span>...</span><a href="articles/article/<%= content.title %>" style="color:darkgreen; cursor: pointer;">read more</a></a></h4>
              
              <% if (content.state === 'draft' ) { %>
                <a href="state/<%= content.title %>">
                <button id="publish" type="button">Publish Article</button>    
                </a>
                <% } %>
              <a href="<%= content.title %>/edit">
                <button>Edit Article</button>
              </a>
              <a href="<%= content.title %>/delete">
                <button>Delete Article</button>
              </a>
              <% }); %>
            <% } else { %>
              <h3 style="color:crimson">You have not created any article. Go back to create an article</h3>
          <% } %>

        </div>
      </body> 
</html>